<app-adminnavbar></app-adminnavbar>
<br><br>

<div class="row justify-content-evenly mb-5 mt-5" style="margin-left: 6em;">

    <a class="nav-link col-md-3" href="viewadmins">
        <button class="text-center  btn btn-primary">
            <h5><i class="bi bi-eye-fill"></i> &nbsp;View all Admin</h5>
        </button></a>

    <a class="nav-link col-md-3" href="addadmin">
        <button class="text-center  btn btn-success">
            <h5><i class="bi bi-plus-circle-fill"></i> &nbsp;Add new Admin</h5>
        </button></a>

    <router-outlet></router-outlet>



</div>