.icon {
    font-size: 48px;
    color: whitesmoke;
}

.card {
    border: 90%;
    transition: transform 0.2s;
    background: linear-gradient(to bottom, #500f32, #ce4499);
    /* Replace colors with your desired gradient */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.card-title {
    margin-top: 10px;
    font-size: 18px;
    color: whitesmoke;


}