.container {

    background-color: rgb(224, 243, 233);
    padding: 15px;
    width: 50%;
  
  }
  
  
  
  
  label {
    font-size: large;
    font-weight: bold;
    color: #0d1117;
  }
  
  input {
    border-radius: 5px;
    padding: 10px;
    font-size: medium;
  }
  
  button {
    size: 20px;
  
  }
  
  .custom-button {
    background-color: rgb(34, 107, 59);
    color: white;
    padding: 10px;
  
  }