<app-adminnavbar></app-adminnavbar>
<h4>dd</h4>
<div class="container">
    <div class="row justify-content-center mb-5 mt-5">
        <h2 class="text-success mb-3 text-center">PUBLIC ENQUERY<br><br></h2>
        <table class="table table-striped shadow  smaller-table" style="background-color: whitesmoke;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Message</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c1 of allUnknownData">
                    <td>{{c1.usmsid}}</td>
                    <td>{{c1.ucustomername}}</td>
                    <td>{{c1.usmsemail}}</td>
                    <td>{{c1.sms}}</td>

                    <td><button class="btn btn-danger" (click)="deleteSms(c1.usmsid)"><i
                                class="bi bi-trash-fill">&nbsp;Delete</i></button></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>